
<h2>Create Project</h2>
<div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <form>
            <div>
                <md-input-container>
                    <label for="name" ng-bind="('views.projects.create.name' | translate)"></label>
                    <input type="text" placeholder="{{'views.projects.create.name.placeholder' | translate}}" ng-model="createVm.project.name">
                </md-input-container>

                <md-input-container>
                    <label for="description" ng-bind="('views.projects.create.description' | translate)"></label>
                    <textarea rows="" cols="" placeholder="{{'views.projects.create.description.placeholder' | translate}}" ng-model="createVm.project.description"></textarea>
                </md-input-container>
                
                <div>
                    <md-button class="md-raised md-primary" ng-click="createVm.create()"
                        ng-bind="('create' | translate)"></md-button>
                </div>
            </div>
        </form>
    </md-content>
</div>